.compartment {
  border: 1px solid black;
  color: #212121;

  min-height: 3em;
  display: flex;
  align-items: center;
}

.compartment:hover {
  background-color: #666666;
  cursor: pointer;
}

.compartmentSize {
  flex: 1 0 auto;
}

.compartmentTypeView {
  padding: 1em;
}
