.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* по умолчанию 2 колонки */
  grid-template-rows: repeat(2, 1fr); /* по умолчанию 2 строки */
  gap: 10px; /* промежуток между элементами */
  flex: 0 0 60%;
  border-radius: 10px;
}

.containerWithOnlyOneItem {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* по умолчанию 2 колонки */
  grid-template-rows: repeat(1, 1fr); /* по умолчанию 2 строки */
  gap: 10px; /* промежуток между элементами */
  flex: 0 0 60%;
  border-radius: 10px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  text-align: center;
  background-color: #fff0df;
}
