.newProduct {
  width: 40%;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  background-color: #ffff;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px; /* Максимальная ширина для широких экранов */
  width: 100%; /* Чтобы input занимал всю доступную ширину */
  border-radius: 25px;
  border: 1px solid #b4b4b4;
  padding: 1em;
}

.prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form input,
.form button,
.form select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 400px;
  width: 100%;
}

.form input[type='submit'] {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
}

.form select option {
  padding: 8px;
  border: none;
  background-color: #fff; /* Цвет фона */
  color: #212121; /* Цвет текста */
}

.form .buttons {
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
}

.form input[type='submit']:hover {
  background-color: #0056b3;
}

.form select {
  background-color: #ffff;
}

.buttons {
  display: flex;
  font-size: 16px;
  margin-top: 10px;
}

.buttons input {
  margin-right: 10px;
}

.buttons button {
  margin-left: 10px;
}

.newProduct label {
  display: block;
  margin-bottom: 0.5rem;
  color: #212121; /* Цвет текста метки */
}

.dates {
  display: flex;
  justify-content: space-between;
}

.dates > * {
  flex: 0 0 49%;
}
