.productBlock {
  flex: 0 0 20%;
  background-color: #ffff;
  border-left: 3px solid #212121;
  height: 100%;
}

.filter {
  text-align: center;
}

.productBlock > h2 {
  text-align: center;
  color: #ffff;
  background-color: #212121;
  margin: 0;
  padding: 1em;
}

.hint {
  text-align: center;
  margin: 0;
  padding: 1em;
}

.details {
  min-height: 100px;
}

.filterButtonsBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filterButtonsBlock > button {
  border: 0;
  background-color: #007bff;
  margin: 5px;
}
