.productBlock {
  flex: 0 0 20%;
  background-color: #ffff;
  border-left: 3px solid #212121;
  height: 90vh;
}

.filter {
  text-align: center;
  height: 15vh;
  overflow: auto;
  overflow-x: hidden;
  padding-right: 5px;
}

.filter::-webkit-scrollbar {
  width: 6px;
}

.filter::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.filter::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 8px;
}

.title h2 {
  text-align: center;
  color: #ffff;
  background-color: #212121;
  margin: 0;
  padding: 1em;
  height: 4vh;
}

.hint {
  text-align: center;
  margin: 0;
  padding: 1em;
}

.details {
  min-height: 100px;
}

.filterButtonsBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filterButtonsBlock > button {
  border: 0;
  background-color: #007bff;
  margin: 5px;
}
