.main {
  margin: 0;
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

.left,
.right {
  flex: 0 0 50%;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #212121;
  align-self: center;
  margin-top: auto;
}

.content h1 {
  font-size: 64px;
  margin: 10px;
}

.content h3 {
  font-size: 32px;
  margin: 10;
}

.foot {
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: 10px;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  transition: transform 0.5s, filter 0.3s;
  z-index: 1;
  pointer-events: none;
}

.startImg {
  width: 400px;
  position: absolute;
  z-index: 2;
  top: 50%; /* помещаем изображение на центральную линию */
  left: -30px;
  transform: translateY(-50%);
  pointer-events: none;
}

.right:hover .image {
  filter: brightness(20%);
}

.right:hover {
  cursor: pointer;
}

.topImg {
  position: absolute;
  z-index: 2;
  top: 100px;
  right: 0;
  transform: translateY(-50%);
  pointer-events: none;
}

.bottomImg {
  position: absolute;
  z-index: 2;
  bottom: -150px;
  right: 0;
  transform: translateY(-50%);
  pointer-events: none;
}

.imgText {
  font-size: 24px;
  position: absolute;
  z-index: 2;
  left: 120px;
  top: 44%; /* помещаем изображение на центральную линию */
  color: #ffff;
}
